@using Microsoft.AspNetCore.Identity
@using Test.Areas.Identity.Data

@inject SignInManager<TestUser> SignInManager
@inject UserManager<TestUser> UserManager

@*<ul class="navbar-nav">*@
@if (SignInManager.IsSignedIn(User))
{
    <li><a asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
    <li><a asp-area="" asp-controller="Posts" asp-action="Index">Post</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <a id="manage" class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link ">Logout</button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    @*<li><a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
    <li><a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>*@
}
@*</ul>*@

